/* default browser resets */
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
/* main styles and colors*/
:root{
  --mainBlack:#1e1f26;
  --mainRed:#be3144;
  --mainWhite:#f0f0f0;
  --mainBlue:#45567d;
  --mainYellow:rgb(238, 126, 22);
  --mainSpacing:.1rem;
  --mainTransition:all 0.3s linear;
}
html{
  scroll-behavior: smooth;
  scroll-margin-top: 10px;
}
body{
  background:var(--mainBlack);
  font-family: 'Raleway', sans-serif;
}
.container{
  width:1366px;
  /* max-width: 100%; */
  margin:0 auto;
  /* padding:0 10px; */
}
/* styles for nav-bar */

#navbar{
  position:-webkit-sticky;
  position:sticky;
  top:0;
  z-index: 1;
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items:center;
  height: 60px;
  background:var(--mainRed);
}

#logo{
  color:var(--mainWhite);
}
.nav-link{
  list-style-type: none;
  display: inline-block;
  margin:10px;
}
.nav-link a{
  text-decoration:none;
  color:var(--mainWhite);
  letter-spacing: var(--mainSpacing);
}
/* end of nav bar */
/* ================== */
/* welcome section */
#welcome-section{
  width:100%;
  height:100vh;
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.welcome-header{
  color:var(--mainWhite);
  font-size: 4rem;
}
.welcome-text{
  color:var(--mainRed);
  font-size: 2rem;
}
/* end of welcome section */
/* =======================*/
/* styles for projects */
#projects{
  background:var(--mainBlue);
}
.header-container{
  width:100%;
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
  height: 200px;
}
.project-section-header{
  color:var(--mainWhite);
  width:90%;
  font-size:2.5rem;
}
.ruler{
  background:var(--mainWhite);
  width:100%;
}
#project-grid{
  width:100%;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
  grid-gap: 4rem;
  max-width:1280px;
  margin:0 auto;
}
.project-tile{
  width:100%;
}
.project-tile a{
    text-decoration: none;
    color:var(--mainWhite);
}
.project-image{
  width:100%;
}

.project-title{
  padding:2rem;
  background:var(--mainBlack);
  width:100%;
  font-weight:400;
  margin-top: -9px;
  text-align: center;
  color:var(--mainWhite);
  transition:var(--mainTransition);
  font-family: 'Poppins', sans-serif;
  font-size:2rem;
}
.code{
  font-size: inherit;
  font-family: 'Fira Mono', monospace;
  font-weight: 550;
  color:var(--mainBlack);
  transition:color 0.6s ease-in;
}
.project-title:hover .code{
  display: inline;
  color: var(--mainYellow);
}

.show-all-btn-container{
  width:100%;
  height:150px;
  display:flex;
  justify-content: center;
  align-items:center;
}
#show-all-btn{
  padding:.5rem 1rem;
  background:var(--mainBlack);
  color:var(--mainWhite);
  letter-spacing: var(--mainSpacing);
  text-transform:capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: 10px;
  border:none;
  transition:var(--mainTransition);
  font-weight: 600;
  font-size:1rem;
  font-family: 'Poppins', sans-serif;
}
#show-all-btn:hover{
  background:var(--mainWhite);
  color:var(--mainBlack);
  border:1px solid var(--mainBlack);
}
#show-all-btn .code{
  color:var(--mainYellow);
}
/* end of styles for projects */
/* =-======================== */
/* styles for contact section */
 #contact-section{
   width:100%;
   height: 90vh;
   padding:1rem;
 }
 .contact-section-header{
   color:var(--mainWhite);
 }
/* end of styles for contact section */
/* =========================== */