@media only screen and (max-width:414px){

  .welcome-section{
    height: 50vh;
  }
    .welcome-header {
    color: var(--mainWhite);
    font-size:2rem;
  }
  .welcome-text {
    color: var(--mainRed);
    font-size: 1rem;
  }
  
    .contact-section-header {
    font-size: 1.1em;
  }
  .contact-text {
    font-size: .8em;
  }
      .social-icons {
    font-size: .7rem;
  }
  /* end of mobile styles  */
  /* =============== */
}